@media screen and (min-width:600px){
    .mobile{display: none;}
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .pc-bg{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        position: absolute;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        object-fit: fill;
        z-index: -114514;
    }
    .pc-welcome2kivotos{
        width: 28rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 9.1333333333rem;
        right: 3.2666666667rem;
        justify-content: space-between;
        flex-direction: column;
    }
    .pc-welcome2kivotos-title{
        margin-top: 14rem;
        font-size: 3.33rem;
        color: #fff;
    }
    .pc-welcome2kivotos-title-k{
        color: #1f90fa;
    }
    .pc-lll{
        width: 100%;
        margin: .8333333333rem 0;
    }
    .pc-welcome2kivotos-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
    .pc-welcome2kivotos-btn1{
        width: 10.656rem;
        height: 2.304rem;
        position: relative;
    }
    .pc-welcome2kivotos-btn img{
        width: 100%;
        position: absolute;
    }
    .pc-welcome2kivotos-btn1 img,.pc-welcome2kivotos-btn2 img{
        border-radius: 3px;
    }
    .pc-welcome2kivotos-copyright{
        font-size: xx-small;
        color: gray;
    }
    .pc-mgr2{
        margin-right: 4rem;
    }
    .pc-mark{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 100%;
        object-fit: fill;
        z-index: -114513;
    }
    .pc-logo{
        position: absolute;
        width: 15rem;
        margin-left: 2.4666666667rem;
        margin-top: 1.2666666667rem;
        align-self: start;
    }
    .mobile-menubox0btn{
        width: 2rem !important ;
        height: 2rem !important ;
    }
    .mobile-btn1,.mobile-btn2{
        background-color: #fff !important;
    }
}