*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen and (max-width:600px){
    .pc{display: none;}
    .mobile-mgr2{
        margin-right: 1rem;
    }
    .mobile-welcome2kivotos{
        width: 15.36rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 2.912rem;
        right: 1.12rem;
        justify-content: space-between;
        flex-direction: column;
    }           
    .mobile-welcome2kivotos-title{
        font-size: 1.85rem;
        line-height: 1;
        color: #323232;
    }
    .mobile-welcome2kivotos-title-k{
        color: #1f90fa;
    }
    .mobile-welcome2kivotos-title-sub{
        color: #1f90fa;
        font-size: .768rem;
        width: 100%;
        letter-spacing: .352rem;
        white-space: nowrap;
        text-align: center;
        margin: .448rem 0 .608rem;
    }
    .mobile-welcome2kivotos-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
    .mobile-welcome2kivotos-btn1{
        width: 7.104rem;
        height: 1.536rem;
        position: relative;
    }
    .mobile-welcome2kivotos-btn img{
        width: 100%;
        position: absolute;
    }
    .mobile-welcome2kivotos-btn1 img,.mobile-welcome2kivotos-btn2 img{
        border-radius: 3px;
    }
    .mobile-welcome2kivotos-copyright{
        font-size: xx-small;
        color: gray;
    }
    .mobile-logo{
        position: absolute;
        left: 1.12rem;
        top: .672rem;
        width: 12.928rem;
    }
    .mobile-logo-img{
        width: 100%;
    }
    .mobile-bgmpic{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .mobile-bgmpic-pic{
        width: 100%;
    }
    .mobile-bg{
        position: absolute;
        min-width: 100%;
        max-height: 99%;
        pointer-events: none;
        z-index: -114514;
        object-fit: fill;
    }
    .mobile-btn1,.mobile-btn2{
        background-color: #737373 !important;
    }

}